Repository cosdt/torch_backend, pull requests merged in 2024-07, with the labels that each got.

#6 Optimize memory pool
  csrc/npu/NPUBlockHandle.h
  csrc/npu/NPUCachingAllocator.cpp
  csrc/npu/NPUCachingAllocator.h
Labels: backend

#7 Move BaseGenerator logic to core
  csrc/core/BaseGeneratorImpl.cpp
  csrc/core/BaseGeneratorImpl.h
  csrc/npu/NPUGeneratorImpl.cpp
  csrc/npu/NPUGeneratorImpl.h
Labels: backend

#4 [Device][Backend] refactor: extract methods and deviceguard
  .github/workflows/ci_build.yml
  cmake/Dependencies.cmake
  csrc/core/.keep
  csrc/core/PrivateUse1Guard.h
  csrc/core/impl/PrivateUse1GuardImpl.h
  csrc/npu/CachingAllocatorHelper.h
  csrc/npu/NPUCachingAllocator.cpp
  csrc/npu/NPUFunctions.cpp
  csrc/npu/NPUFunctions.h
  csrc/npu/NPUGuardImpl.cpp
  csrc/npu/NPUGuardImpl.h
  csrc/npu/NPUStream.cpp
  csrc/npu/THNPUCachingHostAllocator.cpp
  npu/core/CachingAllocatorHelper.cpp
  npu/core/DeviceUtils.h
  npu/core/NPUException.cpp
  npu/core/NPUGuard.h
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  npu/core/sys_ctrl/npu_sys_ctrl.h
  npu/framework/OpCommand.cpp
  npu/framework/utils/CalcuOpUtil.cpp
  npu/framework/utils/NpuUtils.cpp
  test/cpp/core/CMakeLists.txt
  test/cpp/core/device.cpp
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Module.cpp
  torch_npu/csrc/npu/NPUPluggableAllocator.cpp
  torch_npu/csrc/npu/NPUPluggableAllocator.h
  torch_npu/csrc/npu/Stream.cpp
  torch_npu/npu/__init__.py
  torch_npu/npu/device.py
  torch_npu/npu/utils.py
  torch_npu/utils/error_code.py
Labels: backend, ci/cd, unit test, frontend, component/device

#13 Refactor macros
  csrc/core/Macros.h
  csrc/npu/NPUStream.cpp
  csrc/npu/NPUStream.h
  npu/core/NPUMacros.h
  npu/core/NPUPeerToPeerAccess.cpp
Labels: backend

#16 Remove NpuQueue
  csrc/npu/NPUEvent.cpp
  csrc/npu/NPUStream.cpp
  csrc/npu/NPUStream.h
  npu/core/interface/AsyncTaskQueueInterface.cpp
  npu/core/register/OptionsManager.cpp
  npu/framework/OpCommand.cpp
  npu/framework/OpParamMaker.h
Labels: backend

#17 refactor cache host allocator
  csrc/core/EventPool.h
  csrc/npu/THNPUCachingHostAllocator.cpp
  csrc/npu/THNPUCachingHostAllocator.h
  npu/aten/common/CopyKernel.cpp
  npu/aten/ops/op_api/CopyKernelOpApi.cpp
Labels: backend

#12 extract caching allocator
  csrc/core/CachingAllocator.cpp
  csrc/core/CachingAllocator.h
  csrc/core/CachingAllocatorHelper.h
  csrc/npu/CachingAllocatorHelper.h
  csrc/npu/Memory.h
  csrc/npu/NPUCachingAllocator.cpp
  csrc/npu/NPUCachingAllocator.h
  npu/core/CachingAllocatorHelper.cpp
  npu/core/Memory.cpp
  npu/core/NPUCachingAllocatorHelper.h
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  npu/framework/utils/NpuUtils.cpp
  torch_npu/csrc/npu/Module.cpp
  torch_npu/csrc/npu/NPUPluggableAllocator.cpp
  torch_npu/csrc/npu/NPUPluggableAllocator.h
  torch_npu/csrc/npu/memory_snapshot.cpp
Labels: backend

#11 [Device][Backend] Refactor NPUFunctions and Module.cpp
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci_build.yml
  CMakeLists.txt
  csrc/npu/NPUFunctions.cpp
  csrc/npu/NPUFunctions.h
  csrc/npu/NPUHooksInterface.cpp
  csrc/npu/NPUStream.cpp
  csrc/npu/NPUStream.h
  npu/adapter/CMakeLists.txt
  npu/adapter/acl_device_adapter.cpp
  npu/adapter/acl_device_adapter.h
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  npu/core/sys_ctrl/npu_sys_ctrl.h
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Device.h
  torch_npu/csrc/npu/Module.cpp
  torch_npu/csrc/npu/Module.h
  torch_npu/npu/__init__.py
  torch_npu/npu/device.py
  torch_npu/npu/utils.py
Labels: backend, ci/cd, frontend, component/device

#10 Refactor exception logic
  csrc/core/Exception.cpp
  csrc/core/Exception.h
  npu/core/NPUException.cpp
  npu/core/NPUException.h
Labels: backend

#14 Add unit test for generator
  cmake/Dependencies.cmake
  test/cpp/npu/CMakeLists.txt
  test/cpp/npu/npu_generator_test.cpp
Labels: backend, unit test

#18 Refactor_pin_memory
  .github/workflows/ci_build.yml
  csrc/aten/PinMemory.cpp
  csrc/aten/npu_native_functions.yaml
  csrc/npu/NPUCachingHostAllocator.cpp
  csrc/npu/NPUCachingHostAllocator.h
  csrc/npu/NPUHooksInterface.cpp
  csrc/npu/NPUHooksInterface.h
  npu/aten/common/CopyKernel.cpp
  npu/aten/common/EmptyTensor.cpp
  npu/aten/common/PinnedMemoryAllocator.cpp
  npu/aten/ops/op_api/CopyKernelOpApi.cpp
  npu/framework/OpCommand.cpp
  npu/framework/OpParamMaker.cpp
  npu/framework/contiguous/ReshapeOpt.h
  torch_npu/csrc/Module.cpp
Labels: backend, ci/cd

#19 [Refactor] Remove redundant memory_snapshot logic
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/memory_snapshot.cpp
  torch_npu/csrc/npu/memory_snapshot.h
  torch_npu/npu/memory.py
Labels: backend, frontend

#15 Add cpp build docs via doxygen
  .github/workflows/_docs.yml
  .gitignore
  CONTRIBUTING.md
  docs/Makefile
  docs/cpp/Makefile
  docs/cpp/source/Doxyfile
  docs/cpp/source/conf.py
  docs/cpp/source/index.rst
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
Labels: documentation, ci/cd, frontend

#20 [Refactor]Eliminate NPUMarocs.h, migrate to Macros.h
  csrc/npu/NPUCachingAllocator.h
  csrc/npu/NPUCachingHostAllocator.h
  csrc/npu/NPUEvent.h
  csrc/npu/NPUFunctions.h
  csrc/npu/NPUGeneratorImpl.h
  csrc/npu/NPUStream.h
  npu/aten/common/from_blob.h
  npu/core/NPUException.h
  npu/core/NPUFormat.h
  npu/core/NPUGuard.h
  npu/core/NPUMacros.h
  npu/core/NPUPeerToPeerAccess.h
  npu/core/register/OptionsManager.h
  npu/core/sys_ctrl/npu_sys_ctrl.h
  npu/framework/OpCommand.h
  npu/framework/OpParamMaker.h
  torch_npu/csrc/core/AutocastMode.h
  torch_npu/csrc/core/TensorType.h
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Device.h
  torch_npu/csrc/npu/Event.h
  torch_npu/csrc/npu/Module.cpp
  torch_npu/csrc/npu/Module.h
  torch_npu/csrc/npu/Stream.h
Labels: backend

#21 [CI] Move workflows to self-hosted runner
  .github/actions/fetch-and-rebase/action.yml
  .github/dependabot.yml
  .github/workflows/_build-and-test.yml
  .github/workflows/_fetch_and_rebase.yml
  .github/workflows/build.yml
  .github/workflows/ci_build.yml
  .github/workflows/docs.yml
  .github/workflows/label.yml
  .github/workflows/manual.yml
  .github/workflows/periodic.yml
Labels: ci/cd

#24 remove NPUPluggableAllocator
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Module.cpp
  torch_npu/csrc/npu/Module.h
  torch_npu/csrc/npu/NPUPluggableAllocator.cpp
  torch_npu/csrc/npu/NPUPluggableAllocator.h
  torch_npu/npu/__init__.py
  torch_npu/npu/memory.py
Labels: backend, frontend

#33 Refactor aten
  csrc/aten/AutocastMode.cpp
  csrc/aten/BinaryOps.cpp
  csrc/aten/CatchAll.cpp
  csrc/aten/FallbackKernel.cpp
  csrc/aten/VariableFallbackKernel.cpp
Labels: backend

#31 Destory Stream when finalize
  csrc/npu/NPUStream.cpp
Labels: backend

#25 [Refactor] Remove redundant optim logic
  README.md
  docs/source/index.rst
  torch_npu/__init__.py
  torch_npu/optim/__init__.py
  torch_npu/optim/npu_fused_adadelta.py
  torch_npu/optim/npu_fused_adam.py
  torch_npu/optim/npu_fused_adamp.py
  torch_npu/optim/npu_fused_adamw.py
  torch_npu/optim/npu_fused_bert_adam.py
  torch_npu/optim/npu_fused_lamb.py
  torch_npu/optim/npu_fused_optim_base.py
  torch_npu/optim/npu_fused_rmsprop.py
  torch_npu/optim/npu_fused_rmsprop_tf.py
  torch_npu/optim/npu_fused_sgd.py
  torch_npu/utils/__init__.py
  torch_npu/utils/_optim.py
Labels: documentation, frontend

#36 Optimize CachingAllocator
  csrc/core/CachingAllocator.cpp
Labels: backend

#35 [Refactor] Refactor exception to eliminate npu relative logic
  csrc/core/Exception.h
  npu/core/NPUException.cpp
  npu/core/NPUException.h
  test/cpp/core/CMakeLists.txt
  test/cpp/core/exception_test.cpp
Labels: backend, unit test

#40 [Docs] Translate project structure
  docs/source/index.rst
Labels: documentation

#30 Extract memory methods from Module.cpp
  csrc/npu/NPUCachingAllocator.cpp
  csrc/npu/NPUCachingAllocator.h
  csrc/npu/NPUFunctions.cpp
  csrc/npu/NPUFunctions.h
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Memory.cpp
  torch_npu/csrc/npu/Memory.h
  torch_npu/csrc/npu/Module.cpp
Labels: backend
