Repository cosdt/torch_backend, pull requests merged in 2024-08, with the labels that each got.

#27 [Refactor] Refactor NPUEvent.h and NPUDeviceProp
  csrc/npu/NPUContext.cpp
  csrc/npu/NPUContext.h
  csrc/npu/NPUDeviceProp.h
  csrc/npu/NPUEvent.cpp
  csrc/npu/NPUEvent.h
  csrc/npu/NPUEventManager.cpp
  csrc/npu/NPUEventManager.h
  csrc/npu/NPUFunctions.cpp
  csrc/npu/NPUFunctions.h
  csrc/npu/NPUGuardImpl.h
  csrc/npu/NPUHooks.h
  csrc/npu/NPUSerialization.cpp
  npu/acl/include/acl/acl_rt.h
  npu/core/interface/AsyncTaskQueueInterface.cpp
  npu/core/interface/AsyncTaskQueueInterface.h
  npu/core/register/OptionsManager.cpp
  npu/core/register/OptionsManager.h
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  npu/core/sys_ctrl/npu_sys_ctrl.h
  npu/framework/OpCmdHelper.h
  npu/framework/OpParamMaker.cpp
  npu/framework/contiguous/ContiguousOpt.h
  npu/framework/utils/CalcuOpUtil.h
  npu/framework/utils/NpuUtils.h
  setup.py
  test/cpp/npu/CMakeLists.txt
  test/cpp/npu/npu_context_test.cpp
  test/cpp/npu/npu_generator_test.cpp
  test/test_npu.py
  torch_npu/__init__.py
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Device.h
  torch_npu/csrc/npu/Stream.cpp
Labels: backend, unit test, frontend

#45 Move NPUGuard.h from npu/core to csrc/npu
  csrc/npu/NPUEvent.h
  csrc/npu/NPUGuard.h
  csrc/npu/NPUStream.cpp
  npu/acl/libs/acl_rt.cpp
  npu/aten/common/CopyKernel.cpp
  npu/aten/common/CopyKernelNpu.cpp
  npu/aten/common/CopyMemoryKernel.cpp
  npu/aten/common/TensorFactories.cpp
  npu/aten/common/from_blob.cpp
  npu/aten/ops/op_api/CopyKernelOpApi.cpp
  npu/core/NPUPeerToPeerAccess.cpp
  npu/framework/utils/OpPreparation.cpp
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Event.cpp
  torch_npu/csrc/npu/Stream.cpp
Labels: backend

#44 Update README.md
  README.md
Labels: documentation

#46 Remove AclInterface.h/.cpp
  csrc/npu/NPUStream.cpp
  csrc/npu/NPUStream.h
  npu/acl/libs/acl_rt.cpp
  npu/aten/common/CopyKernel.cpp
  npu/aten/common/CopyMemoryKernel.cpp
  npu/aten/common/LocalScalarDenseNpu.cpp
  npu/aten/ops/op_api/CopyKernelOpApi.cpp
  npu/core/NPUCachingAllocatorHelper.h
  npu/core/NPUException.cpp
  npu/core/NPUException.h
  npu/core/NpuVariables.cpp
  npu/core/interface/AclInterface.cpp
  npu/core/interface/AclInterface.h
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  npu/framework/OpCommand.cpp
  npu/framework/interface/AclInterface.cpp
  npu/framework/interface/AclInterface.h
  npu/framework/utils/CalcuOpUtil.cpp
  npu/framework/utils/CalcuOpUtil.h
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Event.cpp
Labels: backend

#47 Refactor register
  csrc/core/Register.h
  csrc/npu/NPUGuardImpl.cpp
  csrc/npu/NPUHooks.cpp
  csrc/npu/NPURegister.cpp
  csrc/npu/NPUSerialization.cpp
  csrc/npu/NPUStorageImpl.cpp
Labels: backend

#43 Add pytest for running test
  CONTRIBUTING.md
  pytest.ini
  test/requirements.txt
  test/test_tensor.py
  torch_npu/testing/__init__.py
  torch_npu/testing/common_distributed.py
  torch_npu/testing/common_methods_invocations.py
  torch_npu/testing/common_utils.py
  torch_npu/testing/decorator.py
  torch_npu/testing/testcase.py
Labels: documentation, unit test, frontend

#53 modify symbol visibility from default to hidden
  npu/aten/utils/Export.h
Labels: backend

#42 move sync device to NPUFunction
  csrc/core/CachingAllocator.cpp
  csrc/core/CachingAllocatorHelper.h
  csrc/npu/NPUStream.cpp
  csrc/npu/NPUStream.h
  npu/adapter/acl_device_adapter.cpp
  npu/adapter/acl_device_adapter.h
  npu/core/NPUCachingAllocatorHelper.h
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Device.cpp
Labels: backend

#50 device init and finalize
  csrc/npu/NPUEvent.h
  csrc/npu/NPUFunctions.cpp
  csrc/npu/NPUFunctions.h
  csrc/npu/NPUHooks.cpp
  npu/core/DeviceUtils.h
  npu/core/OverflowUtils.cpp
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  npu/core/sys_ctrl/npu_sys_ctrl.h
  torch_npu/__init__.py
  torch_npu/csrc/Module.cpp
Labels: backend, frontend

#56 move NPUCachingAllocatorHelper
  csrc/npu/NPUCachingAllocatorHelper.h
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
Labels: backend

#54 refactor module cpp
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Device.h
  torch_npu/csrc/npu/Init.cpp
  torch_npu/csrc/npu/Init.h
  torch_npu/csrc/npu/Lock.cpp
  torch_npu/csrc/npu/Lock.h
  torch_npu/csrc/npu/Module.cpp
  torch_npu/csrc/npu/Module.h
  torch_npu/csrc/npu/Stream.cpp
  torch_npu/csrc/npu/Stream.h
Labels: backend

#59 Refactor autocast
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/core/AutocastMode.cpp
  torch_npu/csrc/core/AutocastMode.h
  torch_npu/npu/__init__.py
  torch_npu/npu/autocast_mode.py
  torch_npu/npu/autocast_utils.py
Labels: backend, frontend

#61 Refactor Structure
  csrc/core/CachingAllocator.cpp
  csrc/npu/NPUCachingAllocatorHelper.h
  csrc/npu/NPUCachingHostAllocator.cpp
  csrc/npu/NPUEvent.h
  csrc/npu/NPUFunctions.cpp
  csrc/npu/NPUFunctions.h
  csrc/npu/NPUGuardImpl.h
  csrc/npu/NPUStream.h
  csrc/npu/NPUTensorImpl.cpp
  npu/core/NPUPeerToPeerAccess.cpp
  npu/core/sys_ctrl/npu_sys_ctrl.cpp
  torch_npu/csrc/core/python_tensor.cpp
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Event.cpp
  torch_npu/csrc/npu/Memory.cpp
  torch_npu/csrc/npu/Stream.cpp
Labels: backend

#62 Remove redundant utils logic
  torch_npu/utils/__init__.py
  torch_npu/utils/_module.py
  torch_npu/utils/collect_env.py
  torch_npu/utils/combine_tensors.py
  torch_npu/utils/npu_intercept.py
  torch_npu/utils/storage.py
  torch_npu/utils/unsupport_api.py
  torch_npu/utils/utils.py
Labels: frontend

#63 Refactor namespace separate logic by module
  torch_npu/csrc/Module.cpp
  torch_npu/csrc/npu/Device.cpp
  torch_npu/csrc/npu/Device.h
  torch_npu/csrc/npu/Event.cpp
  torch_npu/csrc/npu/Event.h
  torch_npu/csrc/npu/Init.cpp
  torch_npu/csrc/npu/Init.h
  torch_npu/csrc/npu/Lock.cpp
  torch_npu/csrc/npu/Lock.h
  torch_npu/csrc/npu/Memory.cpp
  torch_npu/csrc/npu/Memory.h
  torch_npu/csrc/npu/Stream.cpp
  torch_npu/csrc/npu/Stream.h
Labels: backend

#67 Refactor namespace in csrc/core
  csrc/core/allocator/EventPool.h
  csrc/core/generator/BaseGeneratorImpl.h
  csrc/core/generator/GeneratorImpl.cpp
  csrc/core/generator/GeneratorImpl.h
  csrc/core/guard/PrivateUse1Guard.h
  csrc/npu/NPUCachingHostAllocator.cpp
  csrc/npu/NPUGeneratorImpl.cpp
  csrc/npu/NPUGeneratorImpl.h
  csrc/npu/NPUGuard.h
Labels: backend

#69 Use pytorch lazy init
  npu/aten/common/TensorFactories.cpp
  npu/aten/common/from_blob.cpp
  npu/core/DeviceUtils.h
  npu/core/NPUPeerToPeerAccess.cpp
  npu/core/NpuDeviceRAII.cpp
  npu/core/NpuDeviceRAII.h
  npu/core/OverflowUtils.cpp
  torch_backend/backend/streams.py
  torch_backend/backend/utils.py
Labels: backend, frontend

#75 Update index.html consist Project Structure with README
  README.md
  docs/source/index.rst
Labels: documentation

#76 Update README
  README.md
Labels: documentation

#77 Refactor namespace in Allocator
  backends/npu/aten/common/CopyKernel.cpp
  backends/npu/aten/common/SetNpu.cpp
  backends/npu/aten/common/TensorFactories.cpp
  backends/npu/aten/common/from_blob.cpp
  backends/npu/aten/ops/StreamAndEventKernelNpu.cpp
  backends/npu/aten/ops/latest/op_api/CopyKernelOpApi.cpp
  backends/npu/core/NpuDeviceRAII.cpp
  backends/npu/framework/utils/NpuUtils.cpp
  backends/npu/framework/utils/OpPreparation.cpp
  csrc/aten/AutocastMode.cpp
  csrc/aten/CatchAll.cpp
  csrc/aten/FallbackKernel.cpp
  csrc/backend/NPUCachingAllocator.cpp
  csrc/backend/NPUCachingAllocator.h
  csrc/backend/NPUCachingHostAllocator.cpp
  csrc/backend/NPUCachingHostAllocator.h
  csrc/backend/NPUHooks.cpp
  torch_backend/csrc/backend/Device.cpp
  torch_backend/csrc/backend/Memory.cpp
Labels: backend

#78 Remove device relative naming convention
  backends/npu/aten/common/CopyKernel.cpp
  backends/npu/aten/common/CopyKernelNpu.cpp
  backends/npu/aten/common/CopyMemoryKernel.cpp
  backends/npu/aten/common/FormatCastKernelNpu.cpp
  backends/npu/aten/common/LocalScalarDenseNpu.cpp
  backends/npu/aten/common/ResizeNpu.cpp
  backends/npu/aten/common/ResizeNpu.h
  backends/npu/aten/common/SetNpu.cpp
  backends/npu/aten/common/SetNpu.h
  backends/npu/aten/common/TensorFactories.cpp
  backends/npu/aten/common/from_blob.cpp
  backends/npu/aten/ops/StreamAndEventKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/FusedAttentionScoreKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/MaxPool2dWithIndicesBackwardKernelNpu.cpp
  backends/npu/aten/ops/base/opapi/AmpForeachNonFiniteCheckAndUnscaleKernelNpuOpApi.cpp
  backends/npu/aten/ops/base/opapi/NativeDropoutKernelNpuOpApi.cpp
  backends/npu/aten/ops/latest/op_api/CopyKernelOpApi.cpp
  backends/npu/aten/utils/op_api_common.h
  backends/npu/core/NPUBridge.cpp
  backends/npu/core/NPUBridge.h
  backends/npu/core/NPUQueue.cpp
  backends/npu/core/NpuDeviceRAII.cpp
  backends/npu/core/interface/AsyncTaskQueueInterface.cpp
  backends/npu/core/interface/AsyncTaskQueueInterface.h
  backends/npu/framework/FormatHelper.cpp
  backends/npu/framework/FormatHelper.h
  backends/npu/framework/InferFormat.cpp
  backends/npu/framework/OpCmdHelper.cpp
  backends/npu/framework/OpCommand.cpp
  backends/npu/framework/OpParamMaker.cpp
  backends/npu/framework/OpParamMaker.h
  backends/npu/framework/StorageDescHelper.cpp
  backends/npu/framework/StorageDescHelper.h
  backends/npu/framework/contiguous/ContiguousOpt.cpp
  backends/npu/framework/contiguous/broadcast_opt.cpp
  backends/npu/framework/contiguous/permute_opt.cpp
  backends/npu/framework/utils/CalcuOpUtil.cpp
  backends/npu/framework/utils/NpuUtils.cpp
  backends/npu/framework/utils/OpPreparation.cpp
  csrc/backend/NPUCachingAllocator.cpp
  csrc/backend/NPUCachingHostAllocator.cpp
  csrc/backend/NPUCachingHostAllocator.h
  csrc/backend/NPUContext.cpp
  csrc/backend/NPUEvent.h
  csrc/backend/NPUFunctions.cpp
  csrc/backend/NPUGuard.h
  csrc/backend/NPUGuardImpl.h
  csrc/backend/NPUHooks.cpp
  csrc/backend/Serialization.cpp
  csrc/backend/Serialization.h
  csrc/backend/StorageImpl.cpp
  csrc/backend/StorageImpl.h
  csrc/backend/Stream.cpp
  csrc/backend/Stream.h
  csrc/backend/TensorImpl.cpp
  csrc/backend/TensorImpl.h
  torch_backend/csrc/backend/Init.cpp
  torch_backend/csrc/backend/Stream.cpp
  torch_backend/csrc/backend/Stream.h
Labels: backend

#79 feat: add torch_backend/_C/__init__.pyi
  torch_backend/_C/__init__.pyi
  torch_backend/backend/streams.py
  torch_backend/backend/utils.py
  torch_backend/csrc/backend/Stream.cpp
Labels: backend, frontend

#84 Rename variable npu_desc_ to storage_desc_
  backends/npu/aten/common/ChangeDataPtr.cpp
  backends/npu/aten/common/CopyKernel.cpp
  backends/npu/aten/common/CopyMemoryKernel.cpp
  backends/npu/aten/common/FormatCastHelper.cpp
  backends/npu/aten/common/FormatCastKernelNpu.cpp
  backends/npu/aten/common/ResizeNpu.h
  backends/npu/aten/common/SetNpu.cpp
  backends/npu/aten/common/StorageSizeNpu.cpp
  backends/npu/aten/common/TensorFactories.cpp
  backends/npu/aten/ops/FlattenDenseTensorsKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/AddKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/AddmmKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/DeformableConv2dKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/MaxPool2dWithIndicesBackwardKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/MmKernelNpu.cpp
  backends/npu/aten/ops/base/aclops/ViewcopyKernelNpu.cpp
  backends/npu/core/NPUBridge.cpp
  backends/npu/core/NPUFormat.cpp
  backends/npu/framework/FormatHelper.cpp
  backends/npu/framework/InferFormat.cpp
  backends/npu/framework/StorageDescHelper.cpp
  backends/npu/framework/contiguous/permute_opt.cpp
  backends/npu/framework/utils/CalcuOpUtil.cpp
  backends/npu/framework/utils/NpuUtils.cpp
  backends/npu/framework/utils/OpPreparation.cpp
  csrc/backend/Hooks.cpp
  csrc/backend/StorageImpl.h
Labels: backend

#85 Add csrc/adapter layer to isolate device specfic logic with general logic
  CMakeLists.txt
  backends/npu/adapter/acl_device_adapter.cpp
  backends/npu/adapter/acl_device_adapter.h
  backends/npu/core/NPUException.cpp
  backends/npu/core/NpuDeviceRAII.cpp
  csrc/adapter/device_adapter.h
  csrc/backend/DeviceCachingAllocator.cpp
  csrc/backend/Event.h
  csrc/backend/Functions.cpp
  csrc/backend/Functions.h
  csrc/backend/Stream.cpp
  csrc/backend/Stream.h
Labels: backend
